<nav class="border-black border-b-2 bg-white w-full flex relative justify-between items-center mx-auto px-8 h-20">
    <div class="inline-flex">
    </div>
    <div class="flex-initial">
        <div class="flex justify-end items-center relative">
            <div class="flex mr-4 items-center">
                <a class="inline-block py-2 px-3 hover:bg-gray-200 rounded-full" href="/">
                    <div class="text-2xl flex items-center relative cursor-pointer whitespace-nowrap">Purchases</div>
                </a>
                <a class="inline-block py-2 px-3 hover:bg-gray-200 rounded-full" href="/products">
                    <div class="text-2xl flex items-center relative cursor-pointer whitespace-nowrap">Products</div>
                </a>                
                <a class="inline-block py-2 px-3 hover:bg-gray-200 rounded-full" href="/vendors">
                    <div class="text-2xl flex items-center relative cursor-pointer whitespace-nowrap">Vendors</div>
                </a>
            </div>
        </div>
    </div>
</nav>
